extends layout

block content
  div(id='content')
  script(type='text/javascript')
    var emailX = 'theodore.lau@gmail.com'
    var passwordX = 'ubc1234'
  script(type='text/babel', src='/application/index.js')
